{% extends 'html/base.html' %}

    {% block content %}
<br>
<br>
<br>
<br>
<div class="container ">
    <div class="text-center display:inline">
    <form action="" method="post">
      {%csrf_token%}
      <p>Are you sure you want to delete <b>{{adr.truck_plate1}}</b> + <b>{{adr.truck_plate2}}</b>? </p>
        <a class="btn btn-info" href="{% url 'adr_list' %}">Go Back</a>
        <input class="btn btn-danger" type="submit" value="Delete"/>
    </form>
    </div>
</div>
    {% endblock %}

